<section class="login">
            <div class="section-header">
                <h3>Login</h3>
            </div>
            <div class="section-body">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <button id="login">Login</button>
                    <label for="signup"><a href="/signup">Sign up instead</a></label>
            </div>
        </section>

<script src="/js/login.js"></script>