/* Colors */

:root {
    --mint: #dde9d5;
    --brown: #201110;
    --gray: #a7a7a7;
    --darkgray: #666666;
    --white: #ffffff;
}

/* Top level */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--mint);
}

a {
    color: var(--brown);
}    

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 50px;
    padding: 10px 15px;
    display: inline-block;
    color: var(--brown);
    background-color: var(--mint);
    border-radius: 5px;
    -webkit-box-shadow: 7.5px 7.5px 0px 0px rgba(167, 167, 167, 1);
    -moz-box-shadow: 7.5px 7.5px 0px 0px rgba(167, 167, 167, 1);
    box-shadow: 7.5px 7.5px 0px 0px rgba(167, 167, 167, 1);
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--mint);
}

h4 {
    font-size: 14px;
    font-weight: normal;
    color: var(--gray);
}

p {
    font-size: 18px;
    font-weight: normal;
    padding: 15px;
    color: var(--brown);
}

/* Header & nav */

header {
    background-color: var(--brown);
    height: 185px;
}

nav {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
}

nav a {
    width: 150px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color: var(--mint);
    text-decoration: none;
    margin: 15px;
}

#masthead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Main sections */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 3px solid var(--brown);
    margin: 10px;
}

.section-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: var(--brown);
}

.section-body {
margin: 10px 0;
}

/* Posts */

.post {
    width: 95%;
    border: 3px solid var(--brown);
    margin: 10px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: var(--brown);
}

.post-headline {
    flex-basis: 80%;
}

.post-user-date {
    flex-basis: 20%;
    text-align: right;
}

/* Forms & buttons*/

input[type="text"], input[type="content"], textarea {
    color: var(--brown);
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: none;
    padding: 20px;
    resize: vertical;
}

label {
    font-size: 18px;
    font-weight: normal;
    color: var(--brown);
    margin-left: 2.5%;
}

button {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}

.login input, select, textarea, button {
    display: block;
    width: 95%;
    margin: 10px auto;
    height: 45px;
    border: none;
}

.login button, .comment button, .post button {
    background-color: var(--darkgray);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

/* Posts */

.new-post button {
    background-color: var(--brown);
    color: var(--white);
    width: 175px;
    border-radius: 5px;
    font-size: 22px;
}

.comment textarea, .create-post textarea {
    width: 95%;
    height: 100px;
    margin: 10px auto;
}

.post input, select, textarea, button {
    display: block;
    width: 95%;
    margin: 10px auto;
    height: 45px;
    border: none;
}

/* Dashboard */

.dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 45px;
    margin: 10px;
    padding: 10px;
    background-color: var(--darkgray);
    border: none;
    border-radius: 5px;
}

.dashboard-content span {
    font-size: 18px;
    font-weight: normal;
    padding: 15px;
    color: var(--white);
}

.dashboard-content db-title {
    flex-basis: 80%;
}

.dashboard-content db-date {
    flex-basis: 20%;
    text-align: right;
}

/* Media queries */

@media (max-width: 600px) {
.post-headline {
    flex-basis: 100%;
    text-align: center;
}

.post-user-date {
    flex-basis: 100%;
}

#masthead {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 36px;

}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--mint);
}

h4 {
    font-size: 12px;
    font-weight: normal;
    color: var(--gray);
}

p {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    padding: 15px;
    color: var(--brown);
}